<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recorded_at %><br />
    <%= f.datetime_select :recorded_at %>
  </div>
  <div class="field">
    <%= f.label :asset %><br />
    <%= f.text_field :asset %>
  </div>
  <div class="field">
    <%= f.label :vehicle_speed %><br />
    <%= f.number_field :vehicle_speed %>
  </div>
  <div class="field">
    <%= f.label :engine_coolant_temp %><br />
    <%= f.number_field :engine_coolant_temp %>
  </div>
  <div class="field">
    <%= f.label :total_used_fuel %><br />
    <%= f.number_field :total_used_fuel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
