
<!-- Ready for release -->
<div id="container" style="width:100%; height:400px;"></div>

<h1>Telematics Data Points</h1>
<table class="table-hover">
  <tr>
    <th>ID</th>
    <th>Data Point ID</th>
    <th>Recorded at</th>
    <th>Asset</th>
    <th>Vehicle speed</th>
    <th>Engine coolant temp</th>
    <th>Total used fuel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tracks.each do |track| %>
  <tr>

    <td><%= track.id %></td>
    <td><%= track.data_point_id %></td>
    <td><%= track.recorded_at %></td>
    <td><%= track.asset %></td>
    <td><%= track.vehicle_speed %></td>
    <td><%= track.engine_coolant_temp %></td>
    <td><%= track.total_used_fuel %></td>
    <td><%= link_to 'Show', track %></td>
    <td><%= link_to 'Edit', edit_track_path(track) %></td>
    <td><%= link_to 'Destroy', track, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Refresh Data', pull_data_path, class: "btn btn-primary" %>

<script>
$(function () { 
    $('#container').highcharts({
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: {
            text: 'Fuel Consumption'
        },
        xAxis: {
            categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        },
        yAxis: {
            title: {
                text: 'Average Fuel Consumption [MPG]'
            }
        },
        series: [{
            name: 'Chevrolet Corsa',
            data: [28, 29, 27, 22, 28, 26, 30, 29, 27, , , ,]
        }, {
            name: 'Fiat Uno',
            data: [35, 36, 34, 30, 37, 38, 37, 37, 38, , , ,]
        }]
    });
});
</script>