<h1>Fresh data from the cloud has been fetched!  Hit the back button below </h1> 
<center>
<%= link_to 'Back', tracks_path, class: "btn btn-primary" %>  
</center>
<%#= render 'form' %>



<!-- <p><%=@result %></p> -->

<%#= link_to 'Back', tracks_path %>
