<p id="notice"><%= notice %></p>

<p>
  <b>Recorded at:</b>
  <%= @track.recorded_at %>
</p>

<p>
  <b>Asset:</b>
  <%= @track.asset %>
</p>

<p>
  <b>Vehicle speed:</b>
  <%= @track.vehicle_speed %>
</p>

<p>
  <b>Engine coolant temp:</b>
  <%= @track.engine_coolant_temp %>
</p>

<p>
  <b>Total used fuel:</b>
  <%= @track.total_used_fuel %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
