<!DOCTYPE html>
<html>
<head>
  <title>Theclaw</title>
  <link rel="stylesheet" href="http://twitter.github.io/bootstrap/1.3.0/bootstrap.min.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">The Clawer</a>
        <ul class="nav">
          <li class="active"><a href="/tracks">tracks</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  
  <footer>
    <div class="container">
      New Eagle 2013
    </div>
  </footer>
</body>
</html>
